node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/

circuits/build
/ignition/modules/cht.md
contracts/dkg.sol
dkg.js
keyholder.js

ignition/modules/deploydkg.js
!circuits/build/vote_final.zkey
!circuits/build/verification_key.json
!circuits/build/vote_js

*.ptau